.*.sw?
.notouch
msg/msg.test
metric_tank/metric_tank.test
raintank-metric
raintank-metric_*
metric_tank/metric_tank
nsq_metrics_tank/nsq_metrics_tank
nsq_metrics_to_stdout/nsq_metrics_to_stdout
nsq_metrics_to_elasticsearch/nsq_metrics_to_elasticsearch
nsq_metricpersist_to_stdout/nsq_metricpersist_to_stdout
nsq_probe_events_to_elasticsearch/nsq_probe_events_to_elasticsearch
nsq_metrics_to_kairos/nsq_metrics_to_kairos
fake_metrics/fake_metrics
graphite-watcher/graphite-watcher
graphite-watcher/errors/*
inspect-es/inspect-es
*.deb
*.rpm
