version: 2
jobs:
  build:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.9.2
    steps:
      - checkout
      - run: scripts/build.sh
      - run: scripts/build_tools.sh
      - setup_remote_docker
      - run: scripts/build_docker.sh
      - persist_to_workspace:
          root: .
          paths: build

  test:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.9.2
    steps:
      - checkout
      - run: go test -v -race $(go list ./... | grep -v github.com/grafana/metrictank/chaos)

  qa:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.9.2
    steps:
      - checkout
      - run: scripts/qa/gofmt.sh
      - run: scripts/qa/go-generate.sh
      - run: scripts/qa/ineffassign.sh
      - run: scripts/qa/misspell.sh
      - run: scripts/qa/tools_gitignore.sh
      - run: scripts/qa/unused.sh
      - run: scripts/qa/vendor.sh
      - run: go vet ./...

  qa-post-build:
    working_directory: /home/circleci/.go_workspace/src/github.com/grafana/metrictank
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: scripts/qa/docs.sh
      - run: scripts/qa/end2end.sh

  deploy:
    docker:
      - image: circleci/ruby:2.3
    steps:
      - checkout
      - attach_workspace:
          at: build
      - run: scripts/depends.sh
      - run: scripts/build_packages.sh
      - store_artifacts:
          path: build
      - store_artifacts:
          path: build_pkg
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              scripts/push/packagecloud.sh
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              scripts/push/docker.sh
            fi

workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test
      - qa
      - qa-post-build:
          requires:
            - build
      - deploy:
          requires:
            - build
            - test
            - qa
            - qa-post-build
