version: 2
jobs:
  build:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.15.2
    steps:
      - checkout
      - run: scripts/build.sh
      - setup_remote_docker
      - run: scripts/build_docker.sh
      - run: mkdir build_docker
      - run: docker save -o build_docker/metrictank.tar grafana/metrictank
      - run: docker save -o build_docker/metrictank-gcr.tar us.gcr.io/metrictank-gcr/metrictank
      - run: docker save -o build_docker/mt-gateway.tar grafana/mt-gateway
      - persist_to_workspace:
          root: .
          paths:
            - build
            - build_docker

  test:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.15.2
    steps:
      - checkout
      - run: go test -v -race -timeout 20m $(go list ./... | grep -v github.com/grafana/metrictank/stacktest)

  qa:
    working_directory: /go/src/github.com/grafana/metrictank
    docker:
      - image: circleci/golang:1.15.2
    steps:
      - checkout
      - run: scripts/qa/gofmt.sh
      - run: scripts/qa/go-generate.sh --force
      - run: scripts/qa/ineffassign.sh
      - run: scripts/qa/misspell.sh
      - run: scripts/qa/gitignore.sh
      - run: scripts/qa/unused.sh
      - run: scripts/qa/vendor.sh
      - run: scripts/qa/vet-high-confidence.sh

  qa-post-build:
    working_directory: /home/circleci/.go_workspace/src/github.com/grafana/metrictank
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: go version
      - run: scripts/qa/docs.sh
      - run: docker load -i build_docker/metrictank.tar
      - run: go test -v ./stacktest/tests/end2end_carbon
      - run: go test -v ./stacktest/tests/end2end_carbon_bigtable

  qa-chaos:
    working_directory: /home/circleci/.go_workspace/src/github.com/grafana/metrictank
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: docker load -i build_docker/metrictank.tar
        # docker-compose can pull these in by itself, but that would time out the test
      - run: docker pull cassandra:3.9
      - run: docker pull raintank/graphite-mt
      - run: docker pull grafana/grafana
      - run: docker pull raintank/kafka
      - run: docker pull raintank/statsdaemon
      - run: docker pull graphiteapp/graphite-statsd
      - run: docker pull jaegertracing/all-in-one
        # kafka broker advertises itself as 'kafka' but that doesn't resolve. we do have a docker proxy on localhost
      - run: echo "127.0.0.1 kafka" | sudo tee -a /etc/hosts
      - run: go test -v ./stacktest/tests/chaos_cluster

  deploy:
    docker:
      - image: circleci/ruby:2.3
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: scripts/depends.sh
      - run: scripts/build_packages.sh
      - store_artifacts:
          path: build
      - store_artifacts:
          path: build_pkg
      - setup_remote_docker
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              scripts/push/packagecloud.sh
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker load -i build_docker/metrictank.tar
              docker load -i build_docker/metrictank-gcr.tar
              docker load -i build_docker/mt-gateway.tar
              scripts/push/dockerhub.sh
              scripts/push/gcr.sh
            fi

workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test
      - qa
      - qa-post-build:
          requires:
            - build
      - qa-chaos:
          requires:
            - build
      - deploy:
          requires:
            - build
            - test
            - qa
            - qa-post-build
            - qa-chaos
